*{
    margin: 0;
    padding: 0;
}

.card{
    justify-content: center;
}

/* Rule akan diterapkan pada elemen header yang berada tepat setelah elemen img */
img ~ p {
    color: red;
    background-color: aqua;
  }

/* code di bawah ini tidak dapat di gunakan karena terbungkus tag lain */
p ~ a{
    background-color: lightblue;
}
/* --------------------------------- */

p ~ ul {
    background-color: blanchedalmond;
}

h1 + p {
    /* Aturan gaya untuk elemen <p> yang berada tepat setelah <h1> */
    color: blue;
  }